.footer {
  max-width: 880px;
  margin: auto;
  margin-top: 67px;
  padding-bottom: 60px;
}

.footer__copyright {
  color: #545454;
  margin: auto 0;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 680px) {
  .footer__copyright {
    padding-bottom: 36px;
    margin-top: 48px;
  }
}

@media (min-width: 680px) and (max-width: 990px) {
  .footer {
    justify-content: center;
    max-width: 582px;
  }
}
