.gallery {
  font-family: "Inter", Arial, sans-serif;
  margin: auto;
  padding: 0;
  max-width: 880px;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px 17px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .gallery__cards {
  }
}
