.header {
  max-width: 880px;
  margin: auto;
  padding-top: 45px;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .header__logo {
    padding: 15px 20px 18px;
    height: 24px;
    width: 126px;
  }

  .header__line {
    margin-top: 32px;
  }
}

@media (min-width: 681px) and (max-width: 920px) {
  .header {
    max-width: 582px;
  }
}
