.profile {
  display: flex;
  height: 100%;
  max-width: 880px;
  padding-top: 37px;
  padding-bottom: 47px;
  margin: auto;
  align-items: center;
}

.profile__image {
  border-radius: 50%;
  width: 127px;
  height: 127px;
  margin: 0;
}

.profile__description {
  margin: 0 0 0 20px;
}

.profile__header {
  max-width: 400px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__header-group {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: baseline;
  gap: 18px;
  width: 100%;
}

.profile__occupation {
  max-width: 300px;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 16px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit {
  width: 24px;
  height: 24px;
  background: url("../images/profile-edit.svg") no-repeat scroll center
    transparent;
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
}

.profile__edit:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__button {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  align-self: center;
  margin: auto 0 auto auto;
  padding: 0;
}

.profile__button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__button-image {
  color: #fff;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    padding: 0 0 36px 0;
  }

  .profile__image {
    margin-bottom: 26px;
    margin-top: 32px;
  }

  .profile__description {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .profile__header {
    font-size: 22px;
    line-height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__header-group {
    gap: 10px;
  }

  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 14px auto 36px;
  }

  .profile__button {
    width: 282px;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .profile__edit {
    height: 18px;
    width: 18px;
  }
}

@media (min-width: 681px) and (max-width: 920px) {
  .profile {
    justify-content: center;
    max-width: 582px;
    padding-bottom: 36px;
  }

  .profile__header {
    font-size: 32px;
    margin-right: 0px;
  }

  .profile__description {
    margin-right: 20px;
  }

  .profile__edit {
    height: 22px;
    width: 22px;
    margin: 0;
  }

  .profile__header-group {
    flex-direction: column;
    align-items: flex-start;
  }
}
