.profile {
  display: flex;
  height: 100%;
  max-width: 880px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  align-items: center;
}

.profile__image {
  border-radius: 50%;
  max-width: 168.75px;
  max-height: 127.5px;
  margin: 0;
}

.profile__description {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin-left: 20px;
}

.profile__header {
  color: #fff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

.profile__occupation {
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 16px 0 36px 0;
  padding: 0;
}

.profile__edit {
  width: 18px;
  height: 18px;
  background-color: black;
  margin: 0;
  margin-left: 18px;
  border: 1px solid #ffffff;
}

.profile__edit:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile__button {
  box-sizing: border-box;
  display: flex;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  justify-self: flex-end;
  align-self: center;
  background-color: black;
  margin: auto;
}
.profile__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile__button-image {
  color: #fff;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile__description {
    justify-content: center;
    align-items: center;
  }

  .profile__header {
    font-size: 22px;
  }

  .profile__occupation {
    font-size: 14px;
  }
}

@media (min-width: 680px) and (max-width: 920px) {
  .profile {
    justify-content: center;
    max-width: 582px;
  }

  .profile__header {
    font-size: 32px;
  }
}
